:root {
    --darkbrown: #5d4f36;
    --brown: #ab6334;
    --orange: #e07529;
    --darkorange: #a84a00;
    --yellow: #faae32;
    --green: #869b5b;
    --black: #202020;
    --beige: rgb(238, 226, 208);
    --gray: rgb(151, 141, 141);
    --bluegray: #7f7991;
}

html {
    height: 100%;
    background-color: var(--beige);
}

#header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 30px;
    color: var(--darkbrown);
    text-shadow: 1px 1px 1px var(--black);  
    border-bottom: 3px solid var(--darkbrown);  
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: var(--darkbrown);
    text-shadow: 1px 1px 1px var(--black);    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



/* Starting section */
#start-section {
    text-align: center;
    margin: 175px 200px 0px 200px;
}

h2 {
    font-size: 225%;
    text-shadow: 1px 1px 1px var(--gray);
}

main {
    width: 80%;
    margin: auto;
    height: 75%;
    box-sizing: border-box;
    padding: 20px 0;
}

section img {
    width: 40%;
    border: 1px solid var(--black);
    box-shadow: 2px 2px 1px rgb(151, 141, 141);
    margin: 10px 0px 20px 0px;
}

#start-button {
    background-color: var(--green);
    padding: 3px;
    border: 0.5px solid var(--black);
    border-radius: 4px 4px;
    font-size: 150%;
    color: white;
    margin-top: 15px;
}

#start-button:hover {
    background-color: var(--darkorange);
}

button {
    background-color: var(--green);
    border: none;
    padding: 3px;
    border-radius: 4px 4px;
    font-size: 150%;
    color: white;
    margin-top: 15px;
}

button:hover {
    background-color: var(--darkorange);
}

.hide {
    display: none;
}